{% extends "layout.html" %}

    {% block content %}
    
    <h1>{{ title }}</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="" name="login" method="POST">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=35) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=15) }}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </form>
        </div>
    </div>

    {% endblock %}