{% extends "layout.html" %}

    {% block content %}
    
    <h1>Login</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="" name="login" method="get">
                <label for="username"><b>Username</b></label>
                <input type="text" name="username" placeholder="Enter Username" required>
                <br>
                <label for="password"><b>Password</b></label>
                <input type="password" name="password" placeholder="Enter Password" required>
                <br class="clear">
                <input class="btn-submit" type="submit" name="submit" value="Login">
            </form>
        </div>
    </div>

    {% endblock %}