<header>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="index.html" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="course_offerings.html" class="nav-link">Classes</a>
            </li>
            <li class="nav-item">
                <a href="register.html" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="login.html" class="nav-link">Login</a>
            </li>
        </ul>
    </nav>
    <hr style="clear: both;">
</header>